<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>
            <a
              href="https://github.com/grantmcconnaughey/Flake8Rules"
              onclick="captureOutboundLink('https://github.com/grantmcconnaughey/Flake8Rules'); return false;"
            >
              <span class="icon icon--github"
                >{% include icon-github.svg %}</span
              ><span class="username">View on GitHub</span>
            </a>
          </li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          <li>
            {% include icon-twitter.html username="gmcconnaughey" %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2"></div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
