---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.page-link {
    font-size: 16px;
}

.page-link .icon {
    bottom: 2px;
    position: relative;
}

.rules-table {
    margin-bottom: 1.5em;
    width: 100%;

    tr td:first-of-type {
        width: 3em;
    }

    td {
        vertical-align: top;
    }
}
