---
layout: default
---

<div class="home">

  <h1 class="page-heading">The Big Ol' List of Rules</h1>

  <div class="pure-g intro">
    <div class="pure-u-1 pure-u-md-2-3">
      <p>Descriptions and examples for each of the rules in <a href="http://flake8.pycqa.org/en/latest/index.html">Flake8</a> (pyflakes, pycodestyle, and mccabe).</p>

      <p>
        Created by
        <a href="http://www.grantmcconnaughey.com" onclick="captureOutboundLink('http://www.grantmcconnaughey.com'); return false;">Grant McConnaughey</a>. For
        helpful tips on Python and software development, follow me on
        <a href="https://twitter.com/gmcconnaughey" onclick="captureOutboundLink('https://twitter.com/gmcconnaughey'); return false;">Twitter</a> or
        <a href="https://tinyletter.com/grantmcconnaughey" onclick="captureOutboundLink('https://tinyletter.com/grantmcconnaughey'); return false;">TinyLetter</a>.
      </p>
    </div>

    <div class="pure-u-1 pure-u-md-1-3">
      <div class="carbon--sidebar">
        {% include carbon.html %}
      </div>
    </div>
  </div>

  <h2 id="pycodestyle">pycodestyle</h2>

  <table class="rules-table">
    <tbody>
      {% for rule in site.rules %}
        {% if rule.code contains 'E' or rule.code contains 'W' %}
          {% include rule-row.html rule=rule %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <h2 id="pyflakes">pyflakes</h2>

  <table class="rules-table">
    <tbody>
      {% for rule in site.rules %}
        {% if rule.code contains 'F' %}
          {% include rule-row.html rule=rule %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <h2 id="mccabe">mccabe</h2>

  <table class="rules-table">
    <tbody>
      {% for rule in site.rules %}
        {% if rule.code contains 'C' %}
          {% include rule-row.html rule=rule %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

</div>
