---
layout: default
---

<div class="home">

  <h1 class="page-heading">The Big Ol' List of Rules</h1>

  <h2 id="pycodestyle">pycodestyle</h2>

  <table class="rules-table">
    <tbody>
      {% for rule in site.rules %}
        {% if rule.code contains 'E' or rule.code contains 'W' %}
          {% include rule-row.html rule=rule %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <h2 id="pyflakes">pyflakes</h2>

  <table class="rules-table">
    <tbody>
      {% for rule in site.rules %}
        {% if rule.code contains 'F' %}
          {% include rule-row.html rule=rule %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <h2 id="mccabe">mccabe</h2>

  <table class="rules-table">
    <tbody>
      {% for rule in site.rules %}
        {% if rule.code contains 'C' %}
          {% include rule-row.html rule=rule %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

</div>
